@model LocaleViewModel

<p><a href="@Model.SourceUrl" target="_blank">View Source</a></p>
<div>
    <iframe src="@Model.SourceUrl" draggable="false" scrolling="auto">
        <p>Your browser does not support iframes.</p>
    </iframe>
</div>