@{
    ViewData["Title"] = "Parking Ability";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Parking Ability</h1>
    <p>The goal of this website is to provide easy access for parking information on different cities and states for individuals with 
    difficulty parking.
    </p>
</div>
